.range-toggle-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 1.8rem 0;
}

.range-toggle {
  border: 2px solid rgb(16,16,235);
  border-radius: 9999px;
  overflow: hidden;
  height: 36px;
}

/* Remove checkmark entirely */
:host ::ng-deep .mat-button-toggle-icon,
:host ::ng-deep .mat-pseudo-checkbox {
  display: none !important;
}

/* Base toggle button */
:host ::ng-deep .mat-button-toggle {
  min-width: 120px;
  font-family: "Montserrat", sans-serif; 
  font-weight: 500; 
  font-size: 0.95rem;
  color: rgb(16,16,235);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 !important;
}

/* Divider line between buttons */
:host ::ng-deep .mat-button-toggle + .mat-button-toggle {
  border-left: 1px solid rgb(16,16,235);
}

/* Selected state */
:host ::ng-deep .mat-button-toggle-checked {
  background-color: rgb(16,16,235) !important;
  color: white !important;
  font-weight: 600;
}

/* --------------------- RESPONSIVE ---------------------- */

/* Tablet View */
@media (max-width: 1024px) {
  .range-toggle-wrapper {
    transform: scale(0.9);
    transform-origin: left;
  }
}

/* Mobile View */
@media (max-width: 600px) {
  .range-toggle-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .range-toggle {
    width: 100%;
  }

  :host ::ng-deep .mat-button-toggle {
    min-width: 33% !important;
    font-size: 0.8rem;
    padding: 0.35rem 0.5rem;
  }
}
